/* -------------- Element Tags ----------------------*/

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
    margin: 0;
    padding: 0;
}
body,
html {
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    min-width: 350px:
}


h1 {
    color: #08A;
    display: inline;
    font-size: 40px;
    line-height: 48px;
}
h2 {
    color: #808080;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
}
h3 {
    color: #000;
    font-size: 20px;
    font-style: italic;
    line-height: 22px;
}
h4 {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}
h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}
nav {
    width: 90%;
    margin: auto;
}

p {
    color: #333;
    font-size: 14px;
    line-height: 21px;
}
a {
    color: #08A;
    display: block;
    text-decoration: none;
}

li {
    margin-left: 30px;
    list-style-position: inside;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin: 0 auto;
    background-size: contain;
    padding: 10px;
    width: 80%;

}
span {
    padding: 5px;
}

/* -------------- Generic Class Tags ----------------------*/
.inline {
    display:inline;
}

.blue {
    background-color: #00f;
}
.blue-text {
    color: #00f;
}
.med-blue-text {
    color: #08A;
}
.lt-blue {
    background-color: #cff;
}
.lt-blue-text {
    color: #cff;
}
.orange {
    background-color: #f5ae23;
}
.lt-green {
    background-color: #0fb;
}
.lt-green-text {
    color: #0cb;
}
.orange-text {
    color: #f5ae23;
}
.white-text {
    color: #fff;
    font-weight: bold;
}
.gray {
    background-color: #BBB;
}
.lt-gray{
    background-color: #EEE;
}

.lt-gray-text{
    color: #DDD;
}

.dark-gray {
    background-color: #444;
}

.clear-fix {
    overflow: auto;
}

.center-content {
    padding: 2.5% 5%;
}


.shadow {
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

/* -------------- Specialized Class Tags ----------------------*/

/* ---------Multi Purpose --------------*/
.date-text {
    color: #999;
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.location-text {
    color: #999;
    float: right;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.title-link {
    font-size: 20px;
}

.education-entry,
.work-entry,
.project-entry {
    margin: 0 auto;
    width:85%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.flex-box {
    width:90%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
/* ---------Header & Footer-------------*/

.header {
    background-color: #444;
}

.header-flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.skill-item {
    user-select: none;
    margin: 5px;
    padding:2px 5px;
}

.skill-color {
    background-color: #08A;  
}

.biopic {
    display: none;
    float: left;
    padding: 10px;
    width: 150px;
}

.welcome-message {
    color: #f3f3f3;
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
}

.connect {
    background-color: #08A;
    text-align: center;
}

.menu {
    background-color: #142424;
    flex-wrap: wrap;
    text-align: center;
    width: 90%
}

.menu-item {
    box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px 0 20px 0;
}
.menu-item:hover {
    box-shadow: inset 1px 1px 4px #000;
}
.menu-experience {
    background-color: darkslateblue;
}
#menu.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1080px;
}

/* ---------Work--------------*/

.work-bullet{
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
    margin-bottom: 5px;
}

.role{
    color: #DDD;
    text-align: right;
}

.skills-start {
    color: #0cb;
    display: none;
}

/* ---------Education--------------*/
.online-entry{
    margin: 0 auto;
    width:85%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.ed-header{
   margin-bottom: 0;
    background-color: #BBB;
    padding:4px;
}

.ed-topic {
    font-size: .9em;
}

.ed-flex-item{
    width: 400px;
    background-color: #DDD;
    padding: 10px;
    margin: 20px;
    flex-grow: 1;
}

/* ---------Projects --------------*/

.proj-flex-item{
    width: 40%;
    height:40%;
    margin: 5px;
    flex-shrink: 1;
    flex-grow: 1;

}

.selected {
    background-color: #08A;
    color: #FFF !important;
}


/* Media queries to handle various device widths */

@media only screen and (min-width: 1800px) {
    .connect {
        margin-top: 5%;
    }
    .menu-item {
        font-size: 1.5em;
        font-size: 2vw;
    }
}
@media only screen and (max-width: 1024px) {
    .connect {
        margin-top: 5%;
    }
    .menu-item {
        font-size: 1.5em;
        font-size: 2vw;
    }
}
@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
    .menu-item {
        font-size: 1.5em;
        font-size: 3vw;
    }
}
@media only screen and (max-width: 750px) {
    .connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
    .menu-item {
        font-size: 1em;
        font-size: 4vw;
    }
}
.map {
    display: block;
    height: 100%;
    margin: 0 5%;
}
.map-div {
    height: 400px;
    padding-bottom: 5%;
    width: 100%;
}
@media only screen and (max-width:450px) {
    .menu-item {
        font-size: .5em;
        font-size: 4vw;
    }
}
@media only screen and (min-width: 750px) {
    .skills-start,
    .biopic {
        display: block;
    }
}
