/* -------------- Element Tags ----------------------*/

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  min-width: 350px;
  width: 100%;
}

h2 {
  color: #808080;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  font-style: italic;
}

h4 {
  color: #373737;
  font-size: 14px;
  font-weight: bold;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

a {
  color: #08a;
  display: block;
  text-decoration: none;
}

img {
  background-size: contain;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}
li {
  list-style-position: inside;
  margin-left: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

hr {
    width:80%;
}

nav {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: auto;
  width: 90%;
}

p {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

span {
  padding: 5px;
}

ul {
  list-style-type: none;
}

/* -------------- Generic Class Tags ----------------------*/
.blue {
  background-color: #00f;
}

.blue-text {
  color: #00f;
}

.clear-fix {
  overflow: auto;
}

.center-content {
    padding: 20px;
}

.dark-gray {
  background-color: #0F0f0f;;
}

.gray {
  background-color: #bbb;
}

.inline {
  display: inline;
}

.lt-blue {
  background-color: #cff;
}

.lt-blue-text {
  color: #cff;
}

.lt-gray {
  background-color: #eee;
}

.lt-gray-text {
  color: #ddd;
}

.lt-green {
  background-color: #0fb;
}

.lt-green-text {
  color: #0cb;
}

.med-blue-text {
  color: #08a;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}
.shadow {
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.white-text {
  color: #fff;
  font-weight: bold;
}

/* --------------------------------Multi Purpose -----------------------------------*/
.work-entry,
.project-entry {
  margin: 0 auto;
  width: 85%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.connect {
  background-color: #08a;
  text-align: center;
}

.date-text {
  color: #999;
  float: left;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.school-text {
  color: #999;
  float: right;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.school-header {
  background-color: #FFF;
  text-align: center;
  margin: 20px auto 0px;
  padding: 4px;
  width: 300px;
}

.course-header {
  background-color: #FFF;
  text-align: center;
  margin: 5px auto 0px;
  padding: 4px;
  width: 300px;
}

.ed-flex-course {
  width: 400px;
  background-color: #ddd;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.ed-flex-school {
  width: 85%;
  background-color: #ddd;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.ed-topic {
  font-size: 0.9em;
}

.flex-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.header {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  margin: 20px 0;
  padding-right: 20px;
}

.header-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
  justify-content: left;
}

.icon {
  margin: 5px 10px;
}

.location-text {
  color: #999;
  float: right;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.menu {
  background-color: #142424;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
}

.menu-item {
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 0 20px 0;
}

.menu-item:hover {
  box-shadow: inset 1px 1px 4px #000;
}

.menu-experience {
  background-color: darkslateblue;
}

.note {
  font-size: 14px;
  color: #ddd;
}

.proj-flex-item {
  width: 40%;
  height: 40%;
  margin: 5px;
  flex-shrink: 1;
  flex-grow: 1;
}

.selected {
  background-color: rgba(0, 170, 113, 0.897);
  color: #fff !important;
}

.skill-hide {
  text-decoration: line-through;
}

.skills-header {
  color: #0cb;
  margin: 3px;
  padding: 0;
  user-select: none;
}

.skill-item {
  user-select: none;
  margin: 1px 2px;
  border-radius: 2px;
  padding:2px;
}

.title-link {
  font-size: 20px;
}

.welcome-message {
  color: #f3f3f3;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
}

.work-bullet {
  text-decoration: none;
  list-style-type: none;
  padding: 2px;
  margin-bottom: 5px;
}

/* --------------------------ID Selectors---------------------------------*/


#biopic {
    display: none;
    float: left;
    width: 150px;
    border-radius: 30px;
  }

#name {
  color: #08a;
  font-size: 40px;
  font-size: 6em;
  margin-top: 20px;
  padding-right: 20px;
  text-align: right;
  width: auto;
  display: block;
}

#menu.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1080px;
}


#role {
    margin: 20px 0px;
    color: #ddd;
    text-align: right;
    font-size: 2em;
    padding-right: 20px;
  }

#skill-group {
  display: flex;
  flex-wrap: wrap;
}

/* ---------------Media queries to handle various device widths ----------------*/

@media print {
  body {
  background-color: #FFF;
  }

}

@media only screen and (min-width: 1800px) {
  .connect {
    margin-top: 5%;
  }

  .menu-item {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1024px) {
  .connect {
    margin-top: 5%;
  }

  .menu-item {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 900px) {
  #biopic {
    width: 175px;
  }

  .menu-item {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 750px) {
  .connect {
    margin-top: 10%;
  }

    #biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }

  .menu-item {
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) {
  .menu-item {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 750px) {
  .skills-start,
  #biopic {
    display: block;
  }
}
